/* Desktop-desing */
body {
    font-family: 'Kumbh Sans', sans-serif;
	width: 1440px;
}

.menu {
	display: none;
}

.cabecalho {
	display: grid;
	grid-template-columns: 2fr 10fr repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin: 30px 90px;
	padding: 10px 0 40px 0;
	align-items: center;
	border-bottom: 2px solid;
	border-bottom-color: hsl(223, 64%, 98%);
}

nav {
	margin: 0 0 0 30px;
}

nav li {
	display: inline;
	padding: 0 10px;
	color: hsl(220, 14%, 75%);
	font-weight: 700;
	font-size: 18px;
}

nav li:hover {
	filter: contrast(50%);
	cursor: pointer;
	border-bottom: 5px solid hsl(26, 100%, 55%);
}

.carrinho {
	margin: 0 50px;
}

.carrinho:hover {
	filter: opacity(100%);
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: white;
	width: 200px;
	height: 200px;
	box-shadow: 0px 8px 16px 0px rgb(110, 109, 109);
	padding: 12px 16px;
	z-index: 1;
}

.carrinho:hover .dropdown-content {
	display: block;
}

.dropdown-content h1 {
	font-size: 20px;
	font-weight: 700;
	color: black;
	border-bottom: solid 1px hsl(223, 64%, 98%);
	padding: 5px 0 20px 0;
}

.dropdown-content p {
	font-size: 16px;
	font-weight: 500;
	color: hsl(220, 14%, 75%);
	padding: 40px 40px;
	text-align: center;
}

.avatar img {
	width: 50%;
}

.avatar:hover {
	filter: opacity(50%);
	cursor: pointer;
}

.container {
	margin: 90px 0 0 140px;
	display: grid;
	grid-template-columns: repeat(4, 110px) 200px 400px;
	grid-template-rows: 60px 15px 125px 105px 35px 40px 0px 100px;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.container img {
	width: 90%;
	margin: 10px 0 ;
	border-radius: 10px;
}

.container img:hover {
	box-shadow: 0 0 3px 2px hsl(26, 100%, 55%);
	filter: opacity(50%);
	cursor: pointer;
  }
	
.destaque {
	grid-area: 1 / 1 / 8 / 5;
}

.destaque img {
	width: 98%;
}

.imagem1 {
	grid-area: 8 / 1 / 9 / 2;
}

.imagem2 {
	grid-area: 8 / 2 / 9 / 3;
}

.imagem3 {
	grid-area: 8 / 3 / 9 / 4;
}

.imagem4 {
	grid-area: 8 / 4 / 9 / 5;
}

.fabricante {
	grid-area: 2 / 5 / 3 / 7;
	padding-left: 120px;
	color: hsl(26, 100%, 55%);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 1.5px;	
}

.produto {
	grid-area: 3 / 5 / 4 / 7;
	padding-left: 120px;
	color: hsl(0, 0%, 0%);
	font-weight: 700;
	font-size: 55px;
	
}

.descricao {
	grid-area: 4 / 5 / 5 / 7;
	padding-left: 120px;
	color: hsl(220, 14%, 75%);
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	text-align:justify;
}

.valor-final {
	grid-area: 5 / 5 / 6 / 6;
	padding-left: 120px;
	color: hsl(0, 0%, 0%);
	font-weight: 700;
	font-size: 38px;
	letter-spacing: 1.5px;
}

.desconto {
	grid-area: 5 / 6 / 6 / 7;
	margin: 0 260px 0 70px;
	padding: 8px 10px 0px 10px;
	color: hsl(26, 100%, 55%);
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 1.5px;
	text-align: center;
	background-color: hsl(25, 100%, 94%);
	justify-self: center;
	border-radius: 10px;
}

.valor-inicial {
	grid-area: 6 / 5 / 7 / 6;
	padding-left: 120px;
	color: hsl(220, 14%, 75%);
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 1.5px;
	text-decoration-line: line-through;
}

.button-quantidade {
	grid-area: 7 / 5 / 8 / 6;
	padding-left: 120px;
}

.button-quantidade button {
	width: 180px;
	background-color:hsl(223, 64%, 98%);
	border: none;
	border-radius: 10px;
	color: black;
	padding: 5px 25px 15px 20px;
	font-weight: 700;
	font-size: 20px;
	display: inline-block;
}

.button-quantidade img {
	width: 10%;
}

#button-minus {
	width: 10%;
	border-radius: 0;
	margin: 0;
	padding: 10px;
	position: relative;
	top: 4px;
	left: -40px;
}

#button-plus {
	width: 10%;
	border-radius: 0;
	margin: 0;
	padding: 10px;
	position: relative;
	top: 8px;
	left: 40px;
}

.button-adicionar {
	grid-area: 7 / 6 / 8 / 7;
	padding-left: 120px;
}

.button-adicionar button {
	width: 310px;
	background-color:hsl(26, 100%, 55%);
	border: none;
	border-radius: 10px;
	color: white;
	padding: 15px 15px 15px 25px;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 1.5px;
	display: inline-block;
	cursor: pointer;
	box-shadow: 0 0 0 0 hsl(25, 100%, 94%), 0 20px 20px 0 hsl(25, 100%, 94%);
}

#button-cart {
	width: 10%;
	border-radius: 0;
	margin: 0;
	position: relative;
	top: 2px;
	left: -10px;
	filter: brightness(500%);
}

.button-adicionar:hover {
	filter: opacity(70%);
	transform: scale(1.03);
}

#button-cart:hover {
	box-shadow: none;
}

/* mobile-desing */
@media screen and (max-width: 420px) {
	body {
		width: 375px;
	}

	.menu {
		display: block;
	}

	.lista {
		display: none;
	}

	.cabecalho {
		display: grid;
		grid-template-columns: 30px 165px 40px 40px;
		grid-template-rows: 60px;
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		margin: 0 0 0 20px;
		padding: 10px 0 10px 0;
		border-bottom: none;
	}
		
	.menu {
		grid-area: 1 / 1 / 2 / 2;
	}

	.menu img {
		width: 65%;
	}

	.logo {
		grid-area: 1 / 2 / 2 / 3;
	}

	.logo img {
		width: 70%;
	}

	.carrinho {
		grid-area: 1 / 3 / 2 / 4;
		margin: 0 0 0 0;
	}

	.carrinho img {
		width: 50%;
		padding: 0 0 0 20px;
	}

	.avatar {
		grid-area: 1 / 4 / 2 / 5;
	}

	.avatar img {
		width: 60%;
	}
	
	.imagem1, .imagem2, .imagem3, .imagem4 {
		display: none;
	}

	.container {
		margin: 0;
		display: grid;
		grid-template-columns: 120px 120px 120px;
		grid-template-rows: 400px 30px 75px 130px 50px 70px 70px;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
	}
	
	.container img {
		width: 375px;
		border-radius: 0;
		margin: 0;
	}

	.destaque {
		grid-area: 1 / 1 / 2 / 4;
	}

	.fabricante {
		grid-area: 2 / 1 / 3 / 4;
		padding: 0 0 0 20px;
		font-size: 14px;
	}

	.produto {
		grid-area: 3 / 1 / 4 / 4;
		padding: 0 0 0 20px;
		font-size: 30px;
	}

	.descricao {
		grid-area: 4 / 1 / 5 / 4;
		padding: 0 0 0 20px;
		font-size: 16px;
	}

	.valor-final {
		grid-area: 5 / 1 / 6 / 2;
		padding: 0 0 0 20px;
		font-size: 24px;
	}
	
	.desconto {
		grid-area: 5 / 2 / 6 / 3;
		padding: 5px 5px 5px 5px;
    	margin: 0 0 25px 0;
		font-size: 14px;
		border-radius: 5px;
	}

	.valor-inicial {
		grid-area: 5 / 3 / 6 / 4;
		padding: 5px 0 0 20px;
		font-size: 14px;
	}

	.button-quantidade {
		grid-area: 6 / 1 / 7 / 4;
		padding: 0 0 0 20px;
	}

	.button-quantidade button {
		width: 335px;
		height: 60px;
	}

	.button-quantidade img {
		width: 30%;
	}

	#button-minus {
		width: 5%;
		top: 5px;
		left: -100px;
	}

	#button-plus {
		width: 5%;
		top: 7px;
		left: 100px;
	}

	.button-adicionar {
		grid-area: 7 / 1 / 8 / 4;
		padding: 0 0 0 20px;
	}
	
	.button-adicionar button {
		width: 335px;
		height: 60px;
		font-size: 16px;
	}

	#button-cart {
		width: 7%;

}