body {
    font-family: 'Kumbh Sans', sans-serif;
	width: 1440px;
}

.cabecalho {
	display: grid;
	grid-template-columns: 2fr 10fr repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin: 30px 90px;
	padding: 10px 0 40px 0;
	align-items: center;
	border-bottom: 2px solid;
	border-bottom-color: hsl(223, 64%, 98%);
}

nav {
	margin: 0 0 0 30px;
}

nav li {
	display: inline;
	padding: 0 10px;
	color: hsl(220, 14%, 75%);
	font-weight: 700;
	font-size: 18px;
}

nav li:hover {
	filter: opacity(50%);
	cursor: pointer;
}

.carrinho {
	margin: 0 50px;
}

.carrinho:hover {
	filter: opacity(50%);
	cursor: pointer;
}

.avatar img {
	width: 50%;
}

.avatar:hover {
	filter: opacity(50%);
	cursor: pointer;
}

.container {
	margin: 90px 0 0 140px;
	display: grid;
	grid-template-columns: repeat(4, 110px) 200px 400px;
	grid-template-rows: 60px 15px 125px 90px 35px 45px 50px 60px 90px;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.container img {
	width: 100px;
	margin: 10px 0 ;
	border-radius: 10px;
}

.container img:hover {
	box-shadow: 0 0 3px 2px hsl(26, 100%, 55%);
	filter: opacity(50%);
	cursor: pointer;
  }
	
.destaque {
	grid-area: 1 / 1 / 8 / 5;
}

.destaque img {
	width: 490px;
}

.imagem1 {
	grid-area: 9 / 1 / 10 / 2;
}

.imagem2 {
	grid-area: 9 / 2 / 10 / 3;
}

.imagem3 {
	grid-area: 9 / 3 / 10 / 4;
}

.imagem4 {
	grid-area: 9 / 4 / 10 / 5;
}

.fabricante {
	grid-area: 2 / 5 / 3 / 7;
	padding-left: 120px;
	color: hsl(26, 100%, 55%);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 1.5px;	
}

.produto {
	grid-area: 3 / 5 / 4 / 7;
	padding-left: 120px;
	color: hsl(0, 0%, 0%);
	font-weight: 700;
	font-size: 50px;
	letter-spacing: 1.5px;
	
}

.descricao {
	grid-area: 4 / 5 / 5 / 7;
	padding-left: 120px;
	color: hsl(220, 14%, 75%);
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 1.5px;
	text-align:justify;
}

.valor-final {
	grid-area: 5 / 5 / 6 / 6;
	padding-left: 120px;
	color: hsl(0, 0%, 0%);
	font-weight: 700;
	font-size: 38px;
	letter-spacing: 1.5px;
}

.desconto {
	grid-area: 5 / 6 / 6 / 7;
	padding-left: 120px;
	color: hsl(26, 100%, 55%);
	font-weight: 700;
	font-size: 22px;
	letter-spacing: 1.5px;
	background-color: hsl(25, 100%, 94%);
	background-size: 300px 100px;
}

.valor-inicial {
	grid-area: 6 / 5 / 7 / 6;
	padding-left: 120px;
	color: hsl(220, 14%, 75%);
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 1.5px;
	text-decoration-line: line-through;
}

.input-quantidade {
	grid-area: 7 / 5 / 8 / 6;
	padding-left: 120px;
}

.button-adicionar {
	grid-area: 7 / 6 / 8 / 7;
	padding-left: 120px;
}

.button-adicionar button {
	width: 300px;
	background-color:hsl(26, 100%, 55%);
	background-image: url(/CSV/Projetos/ecommerce-product-page-main/images/icon-cart.svg);
	background-position: 15px 15px;
  	background-repeat: no-repeat;
	border: none;
	border-radius: 10px;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 1.5px;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	box-shadow: 0 0 0 0 hsl(25, 100%, 94%), 0 20px 20px 0 hsl(25, 100%, 94%);

}